.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  margin-right: 9.6px;
  transform: translate(0, -7px);
  border: 2px solid #00bc8c;
  padding: 8px;
  border-radius: 50%;
}

.buttonPlay {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.5rem 0 0.5rem 0.7rem;
  border-color: transparent transparent transparent #00bc8c;
  cursor: pointer;
}

.buttonStop {
  height: 0.7rem;
  width: 3px;
  border-left: 6.4px solid #00bc8c;
  border-right: 6.4px solid #00bc8c;
  cursor: pointer;
}
